# User Constraint File for 7-seg decoder implementation on Elbert V2

# 7-segments
NET "SEG[7]" LOC = P117;
NET "SEG[6]" LOC = P116;
NET "SEG[5]" LOC = P115;
NET "SEG[4]" LOC = P113;
NET "SEG[3]" LOC = P112;
NET "SEG[2]" LOC = P111;
NET "SEG[1]" LOC = P110;
NET "SEG[0]" LOC = P114;


# DIP switches
NET "D[3]" LOC = P70;
NET "D[2]" LOC = P69;
NET "D[1]" LOC = P68;
NET "D[0]" LOC = P64;
NET "D[3]" PULLUP;
NET "D[2]" PULLUP;
NET "D[1]" PULLUP;
NET "D[0]" PULLUP;