//! **************************************************************************
// Written by: Map P.20131013 on Thu Aug 20 14:50:19 2015
//! **************************************************************************

SCHEMATIC START;
COMP "SEL" LOCATE = SITE "P78" LEVEL 1;
COMP "A" LOCATE = SITE "P80" LEVEL 1;
COMP "B" LOCATE = SITE "P79" LEVEL 1;
COMP "Q" LOCATE = SITE "P46" LEVEL 1;
SCHEMATIC END;

