# User Constraint File for data selector implementation on Elbert V2

# Push buttons
NET "A" LOC = P80;   # SW1
NET "B" LOC = P79;   # SW2
NET "SEL" LOC = P78; # SW3

# Internal pull-ups need to be enabled
NET "A" PULLUP;
NET "B" PULLUP;
NET "SEL" PULLUP;

# LED
NET "Q" LOC = P46;  # LED8